@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* body:before will also work
 as will body:after */
:root:before {
  content: url(assets/images/bg-images/bg1.jpg)
           url(assets/images/bg-images/bg2.jpg)
           url(assets/images/bg-images/bg3.jpg)
	  	   url(assets/images/bg-images/bg4.jpg)
	  	   url(assets/images/bg-images/bg5.jpg)
   partial fallback 
  background-image: url(assets/images/bg-images/bg1.jpg);
  visibility: hidden;
  position: absolute;
  left: -999em;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: auto;
	font-family: 'Raleway', 'Roboto', 'Open Sans', sans-serif;	
}

p {
	font-size: 18px;
	line-height: 1.75;
}

html,
body,
.cover {
	height: 100%;
}

.logo {
	width: 50px;
	height: 50px;
	/*margin: 2px;*/
}

.cover-image {
	background-image : url('../../images/bg-images/bg1.jpg');

	/* Transition properties for fading out into another image */
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}

.main-heading {
	font-family: 'Dancing Script', serif;
	color: #222299;
}

.custom-btn {
	display: inline-block;
	width: 200px;
	padding: 15px;
	margin: 5px;
	font-size: 16px;
	color: #ffffff;
	font-family: 'Open Sans', Roboto, sans-serif;
	background-color: transparent;
	font-weight: 300;
	border: 2px solid #fff;
	text-align: center;
	outline: none;
	text-decoration: none;
}
.custom-btn:hover,
.custom-btn:active {
	background-color: rgba(206, 93, 93, 0.7);
	border-color: #fff;
	color: #fff;
	transition: color 0.3s ease-in,
		background-color 0.3s ease-in,
		border-color 0.3s ease-in;
}

/* white-based custom btn */
.custom-btn2 {
	display: inline-block;
	width: 200px;
	padding: 15px;
	color: navy;
	font-family: "Open Sans", Lato, Roboto, sans-serif;
	background-color: transparent;
	font-weight: 400;
	border: 2px solid red;
	text-align: center;
	outline: none;
	text-decoration: none;
	<!--transition: color 0.3s ease-out,
		background-color 0.3s ease-out,
		border-color 0.3s ease-out;-->
}
.custom-btn2:hover,
.custom-btn2:active {
	background-color: rgba(206, 93, 93, 0.7);
	border-color: #fff;
	color: #fff;
	transition: color 0.3s ease-in,
		background-color 0.3s ease-in,
		border-color 0.3s ease-in;
}

.algin-center {
	margin-left: auto;
	margin-right: auto;
}

.bg-orange {
	background-color: #F1A852;
}

.bg-white {
	background-color: white;
}

.rounded-corners {
	border-radius: 7px;
}

.white-font {
	color: white;
}

.black-font {
	color: black;
}

.orange-font {
	color: #FFBE00;
}

.justify-text {
	text-align: justify;
	text-justify: inter-word;
}

.image-center {
	display: block;
	margin: auto;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: 			translateY(50%);
}

.bg-dark-green {
	background-color: #35393E;
}

.patron-description {
	color: black;
	background-color: white;
	padding: 20px;
	margin: 5px;
	border-radius: 7px;
	text-align: justify;
	text-justify: inter-word;
}

.course-description {
	color: black;
	background-color: white;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 7px;
	text-align: justify;
	text-justify: inter-word;
}

.hero-style {
	background: rgba(255, 255, 255, 0.8);
	padding: 3%;
	border-radius: 7px;
	color: navy;
}

.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}

.gallery-image {
	max-width:100%;
	max-height:100%;
	padding: 10px;
	border-radius: 7%;
}

.gallery-row {
	align-content: center;
}

.hideme {
	opacity: 0;
}

.custom-navbar {
	background-color: rgba(255,255,250,10);
	font-family: "Roboto", "Montserrat", "Lato";
	font-weight: 500;
	font-size: 14px;
}

#welcome {
	background-color: #EEE3AB;
}

#wedding {
	background-color: #F2A359;
}

#rsvp {
	background-color: #A3333D;
}

#contact-us {
	background-color: #588B8B;
}

footer {
	background-color: #7D8CC4;
}

#googlemaps { 
	height: 100%; 
	width: 100%; 
	position:absolute; 
	top: 0; 
	left: 0; 
	z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

#location-info { 
	position: relative; 
	z-index: 1; /* The z-index should be higher than Google Maps */
	width: 300px;
	margin: 60px auto 0;
	padding: 10px;
	background: black;
	height: auto;
	opacity: .75; /* Set the opacity for a slightly transparent Google Form */ 
	color: white;
}

.heading-img {
	width: 12%;
	margin-left: 80px;
}

.custom-navbar-brand.hidden-lg > .heading-img {
	width: 34%;
	margin-left: 0px;
	float: left;
}

.custom-navbar-brand {
	float: inherit;
	padding: 15px 15px;
	height: 50px;
}
.custom-navbar-brand > img {
	display: inline;
}

.navbar-brand .hidden-lg {
		width: 34%;
	height: 50px;
}

h1 {
	font-family: 'Playfair Display', sans-serif;
	font-size: 48px;
/*	letter-spacing: 1px;*/
	font-weight: 400;
/*	font-style: italic;*/
}

h2 {
	font-family: 'Playfair Display', sans-serif;
	font-size: 36px;
}

.cover-description-top {
	font-size: 54px;
	font-weight: 400;
	font-family: "Dancing Script";
	color: white;
}

.cover-text {
	background-color: rgba(255, 116, 171, 0.5);
	border-radius: 15px;
}

.cover-description-bottom {
	font-size: 72px;
	font-family: Roboto;
	color: white;
	font-weight: 900;
	letter-spacing: 1px;
}

/* Collapse Navbar sooner */
@media (max-width: 768px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}
}

/* For Larger Screens */
/*
@media all and (min-width: 768px) {
	.custom-navbar {
		opacity: 0.9;
	}
	
	.main-heading {
		text-align: center;
		padding-left: 100px;
	}
}
*/

/* For Small Screens */
/*
@media not all and (min-width: 768px) {
	.custom-navbar {
		opacity: 0.9;
	}

	#main-heading {
		padding-left: 0;
	}

	.cover-description-top {
		font-size: 36px;
	}

	.cover-description-bottom {
		font-size: 45px;
	}
	
	.main-heading {
		font-size: 20px;
	}
}
*/

/* For screen sizes smaller than iPhone 6S */
/*
@media not all and (min-width: 375px) {
	 Reduce heading font - Comfortaa 
	.main-heading {		
		font-size: 16px;
	}
}
*/

#profile-pic {
	width: 80%;
	height: auto;
}

.profile-pic-no-resize {
	max-height: 238px;
	max-width: 200px;
}

.guitar-heroes {
	width: 50%;
}

#form-error-message {
	font-weight: bold;
	color: orange;
}

@media (max-width: 767px) {
	#intro-video {
		width: 100%;
	}
}

.potrait-img {
	border-radius: 50%;
	width: 50%;
}

#google-maps {
	border-radius: 2px;
}

#bg-loop-btn ,#bg-loop-btn2 {
	cursor: pointer;
}

#divider {
	max-width:100%;
max-height:100%;
}